@import 'constants';

.message-box{
    font-size: 18px;

    height: auto;

    color: $primary2;

    border-radius: 10px;
    padding: 2px 5% 2px 5%;

    letter-spacing: normal;

    text-align: justify;
    text-justify: auto;

    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);

    p{
        margin: 0px;
    }
}

.nameShoutBox{
    width: 50%;
    height: auto;

    margin: auto;
    color: $primary1;
    
    text-align: center;
}
