<div class="chat-frame">
    <div class="headcount-box col-5 bg-success rounded text-center">
        <p class="headcount">Population: 0</p>
    </div>


    <div class="chat-box">

    </div>
    <div class="input-box d-flex">
        <div class="col-2 chat-logo">
            <img src="/public/images/logo/anony.png" alt="">    
        </div>

        <div class="col-10">
            <input class="message col-8" type="text" placeholder="Type a message...">
            <button class="col-3 sendBtn btn btn-dark">send</button>
        </div>
        
    </div>
</div>