    <script src="/public/js/index.js"></script>

    <script src="/socket/client-dist/socket.io.js"></script>
    <script src="/public/js/check_name.js"></script>
    <script src="/public/js/anony.js"></script>
    <script>
        var socket
        var username
        var status = 0
        
        $(function(){
            socket = io()
            validateName()
            allowEntry( ready )
            $('.enterBtn').on('click', handleEntry)
        })
    </script>
    
    </body>
</html>