<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#636e72">
    
<!-- No cache configuration -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/name_box.css">
    <link rel="stylesheet" href="public/css/chat_zone.css">
    <link rel="stylesheet" href="public/css/message.css">
    <link rel="stylesheet" href="public/css/headcount.css">


    <link rel="shortcut icon" type="image/jpg" href="/public/images/logo/anony.png"/>
    <link rel="apple-touch-icon" href="/public/images/logo/anony.png">
    <link rel="manifest" href="/manifest.json">
    <title> <%= title %> </title>

    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
