<script>
    var name_list = `<%=name_list%>`
</script>

<div class="name-box">
    <img src="/public/images/logo/anony.png" alt="A planet" class="nameBox-logo">
    <div class="inp-form">
        <div class="field-cont">
            
            <div class="mt-2">
                <h1 style="color: whitesmoke;">WELCOME</h1>
            </div>
            <input class="mt-3 username-field" type="text" placeholder="Username">
            <div class="container-fluid">
                <div class="float-right rounded checker-box my-2">
                    <p class="checker">waiting...</p>
                </div>
            </div>
            <div class="container-fluid mt-4">
                <button class="enterBtn btn btn-success">Enter</button>
            </div>

        </div>
    </div>

</div>